@font-face {
  font-family: "DINPro-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DINPro-Regular/DINPro-Regular.eot");
  src: url("../fonts/DINPro-Regular/DINPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Regular/DINPro-Regular.woff") format("woff"), url("../fonts/DINPro-Regular/DINPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "DINPro-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/DINPro-Medium/DINPro-Medium.eot");
  src: url("../fonts/DINPro-Medium/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium/DINPro-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "DINPro-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/DINPro-Light/DINPro-Light.eot");
  src: url("../fonts/DINPro-Light/DINPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Light/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light/DINPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}