//Slider
.fa {
	color: #000;
	font-size: 30px;
	&:hover {
		transition: all .3s;
		color: #fff;
	}
}
.orbit-previous, .orbit-next {
	background-color: #fff;
	font-family: 'fontAWesome';
}
.orbit-previous {
	left: 6.8%;
}
.orbit-next {
	right: 9%;
}
.orbit-figure {
	img {
		height: 578px;
	}
}
//Media quaries
@include breakpoint(small) {
	.slider {
		.orbit-controls {
			.orbit-previous, .orbit-next {
				display: none;
			}
		}
	}
}
@include breakpoint(medium) {
	.slider {
		.orbit-controls {
			.orbit-previous, .orbit-next {
				display: block;
			}
		}
	}
	.orbit-figure {
		img {
			height: auto;
		}
	}
}