<div class="catalog">
	<div class="grid-container">
		<div class="row">
			<div class="small-12 medium-4 columns">
				<div class="catalog__item">
					<a class="catalog__link" href="#">
						<img src="../assets/img/catalog1.jpg" alt="catalog 1">
					</a>
					<div class="caption">
						<div class="caption__border">
							<p class="title"><a href="#">Косметика для лица</a></p>
							<p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae culpa nesciunt unde harum reprehenderit minima vel.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="small-12 medium-8 columns">
				<div class="catalog__item">
					<a class="catalog__link" href="#">
						<img src="../assets/img/catalog2.jpg" alt="catalog 2">
					</a>
					<div class="caption">
						<div class="caption__border">
							<p class="title"><a href="#">Косметика для лица</a></p>
							<p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae culpa nesciunt unde harum reprehenderit minima vel.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-4 columns">
				<div class="catalog__item">
					<a class="catalog__link" href="#">
						<img src="../assets/img/catalog3.jpg" alt="catalog 3">
					</a>
					<div class="caption">
						<div class="caption__border">
							<p class="title"><a href="#">Косметика для лица</a></p>
							<p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae culpa nesciunt unde harum reprehenderit minima vel.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="small-12 medium-4 columns">
				<div class="catalog__item">
					<a class="catalog__link" href="#">
						<img src="../assets/img/catalog4.jpg" alt="catalog 4">
					</a>
					<div class="caption">
						<div class="caption__border">
							<p class="title"><a href="#">Косметика для лица</a></p>
							<p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae culpa nesciunt unde harum reprehenderit minima vel.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="small-12 medium-4 columns">
				<div class="catalog__item">
					<a class="catalog__link" href="#">
						<img src="../assets/img/catalog5.jpg" alt="catalog 5">
					</a>
					<div class="caption">
						<div class="caption__border">
							<p class="title"><a href="#">Косметика для лица</a></p>
							<p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae culpa nesciunt unde harum reprehenderit minima vel.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>