<header>
	<div class="top__header">
		<div class="grid-container">
			<div class="row align-middle">
				<div class="medium-9 large-6 columns">
					<nav class="top__menu">
						<ul class="menu">
							<li class="hide-for-medium"><button class="menu-icon" type="button" data-open="offCanvas"></button></li>
							<li class="show-for-medium"><a href="#">О нас</a></li>
							<li class="show-for-medium"><a href="#">Новости</a></li>
							<li class="show-for-medium"><a href="#">Доставка и оплата</a></li>
							<li class="show-for-medium"><a href="#">Партнерам</a></li>
							<li class="show-for-medium"><a href="#">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="medium-3 large-6 columns">
					<div class="search__wrapper">
						<div class="search_block">
							<div class="input-group">
								<input class="input-group-field show-for-large" type="search" placeholder="Поиск продукции...">
								<button type="submit"><i class="sprite sprite-search"></i></button>
							</div>
						</div>
						<div class="enter">
							<a class="enter__link" href="#">	
								<i class="sprite sprite-user"></i>
								<span class="enter__text show-for-large">Войти</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__contacts">
		<div class="grid-container">
			<div class="row">
				<div class="small-12 medium-3 xlarge-2 columns">
					<div class="header__phone">
						<p class="phone">+38 (063) 136-31-36<br>
							+38 (096) 581-50-10<br>
							+38 (063) 111-38-40</p>
						</div>	
						<div class="callback__wrap">
							<a id="callback">Заказать звонок</a>
							<div id="callback_form"> 
								Имя: <input id="name">
								Телефон: <input id="phone">
								<p id="send">Заказать</p>
								<p id="close">Скрыть форму</p>					  
							</div>
						</div>
					</div>
					<div class="small-12 start medium-6 xlarge-7 columns">
						<div class="header__logo">8
							<a href="#" class="logo"></a>
							<img src="../assets/img/logo.png" alt="World Cosmetics">
						</div>
					</div>
					<div class="small- medium-3 xlarge-3 columns">
						<div class="header__cart">
							<div class="cart">
								<div class="heart__block">
									<a href="#">
										<i class="sprite sprite-heart"></i>
										<span class="count">2</span>
									</a>
								</div>
								<div class="cart__block">
									<a href="#">
										<i class="sprite sprite-cart"></i>
										<span class="count">3</span><br>
										<span class="price__cart">1 000 грн.</span>
									</a>
								</div>
							</div>
						</div>
						<div class="time__work">
							<p>Время работы:<br>Пн-Вс с 6:00 до 18:00</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_bottom__nav">
			<div class="grid-container">
				<div class="row">
					<div class="small-12 columns">
						<nav>
							<ul class="dropdown menu align-center show-for-medium" data-dropdown-menu>
								<li>
									<a href="#">Парфюмерия</a>
									<ul class="menu">
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Глаза</a>
									<ul class="menu">
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Губы</a>
									<ul class="menu">
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Лицо</a>
									<ul class="menu">
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Ногти</a>
									<ul class="menu">
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Бренды</a>
									<ul class="menu">
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Акции</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
