//Mobile menu
<ul class="mobile vertical menu accordion-menu" data-accordion-menu>
    <li>
      <a href="#">Парфюмерия</a>
      <ul class="menu vertical nested">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Глаза</a>
      <ul class="menu vertical nested">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Губы</a>
      <ul class="menu vertical nested">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Лицо</a>
      <ul class="menu vertical nested">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Ногти</a>
      <ul class="menu vertical nested">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Бренды</a>
      <ul class="menu vertical nested">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Акции</a>
    </li>
</ul>