<section class="reviews">
    <div class="grid-container">
        <div class="title__h3">
            <h3>Отзывы наших покупателей</h3>
            <div class="hr"></div>
        </div>
        <div id="carousel" class="row swiper-container">
            <div class="swiper-wrapper">
                <div class="item swiper-slide">
                    <div class="client__img">
                        <img src="../assets/img/client.jpg" alt="client">
                        <p class="name__client">Надежда Галицкая</p>
                        <p class="date__client">10.04.2017</p>
                    </div>
                    <div class="client__content">
                        <h5>La rive swarovski pearl woman</h5>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                    </div>
                </div>
                <div class="item swiper-slide">
                    <div class="client__img">
                        <img src="../assets/img/client.jpg" alt="client">
                        <p class="name__client">Надежда Галицкая</p>
                        <p class="date__client">10.04.2017</p>
                    </div>
                    <div class="client__content">
                        <h5>La rive swarovski pearl woman</h5>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                    </div>
                </div>
                <div class="item swiper-slide">
                    <div class="client__img">
                        <img src="../assets/img/client.jpg" alt="client">
                        <p class="name__client">Надежда Галицкая</p>
                        <p class="date__client">10.04.2017</p>
                    </div>
                    <div class="client__content">
                        <h5>La rive swarovski pearl woman</h5>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                    </div>
                </div>
                <div class="item swiper-slide">
                    <div class="client__img">
                        <img src="../assets/img/client.jpg" alt="client">
                        <p class="name__client">Надежда Галицкая</p>
                        <p class="date__client">10.04.2017</p>
                    </div>
                    <div class="client__content">
                        <h5>La rive swarovski pearl woman</h5>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    </div>
</section>