<div class="slider">
  <div class="orbit" role="region" aria-label="Brands cosmetics" data-orbit>
    <div class="orbit-wrapper">
      <div class="orbit-controls">
        <button class="orbit-previous fa fa-angle-left"><span class="show-for-sr">Previous Slide</span></button>
        <button class="orbit-next fa fa-angle-right"><span class="show-for-sr">Next Slide</span></button>
      </div>
      <ul class="orbit-container">
        <li class="is-active orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="../assets/img/slide_img.jpg" alt="Brands 1">
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="../assets/img/slide_img.jpg" alt="Brands 2">
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="../assets/img/slide_img.jpg" alt="Brands 3">
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="../assets/img/slide_img.jpg" alt="Brands 3">
          </figure>
        </li>
      </ul>
    </div>
  </div>
</div>